.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: red;
  }
  
  .hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* Optional: for a darker overlay */
    z-index: 1;
  }

  /* .super-main{
    background-color: green;
  } */