.slider-heading{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
        font-size: x-large;
        
}

.slider-text{
    color: white;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-weight: bolder; */
  

}