.main-heading{
  color:#ffffff;
  font-weight: var(--font-weight, 900);

}
.heading{
  color:#ffffff;
  /* color: inherit; */
  font-weight: var(--font-weight, 900);
  line-height: 36px;
}
.sub-heading{
  color:#ffffff;
  font-weight: var(--font-weight, 300);
  line-height: 36px;
}

.left-inner-container {
  /* box-shadow: 10 4px 6px rgba(35, 17, 197, 0.1);
  border-radius: 8px; 
  border: 1px solid #615757; 
  padding: 20px;  */
 /* background-color: #008cff; */
}


.innner-heading {
  font-weight: 800;
  font-style: italic;
  color: blue;
  text-align: left;
}
.day-plan-heading{
  color: #4a4a4a;
  font-weight: bold;
  text-align: center;
}
.place-description{
  color: black
}
.text-button{
  font-weight: bold;
  color: #008cff;
  cursor: pointer;
}
.traveller-name{
  font-size:8px ;
}
.time{
  color:black ;
  font-weight: bold;
}
.date{
  font-size: 12px;
}
.vertical-line {
  border-left: 2px solid black;
  height: auto; /* Set height to auto */
  align-self: stretch; /* Makes the vertical line stretch based on parent container */
}

/* .main-container {
  background-repeat: no-repeat;
  background-color: white;
  background-image: url(../../../../assets/images/bluebg1.png);
  background-size: cover; /* Stretch to cover entire screen */
  /* background-position: center;  */
/* }  */

.main-container{
  background-color: #013a63
}


.policy-Heading{
  color:#00b4d8;
  font-weight: bolder
}
.policy-description{
  color: red;
}
.terms-sub-heading{
  color: #4a4a4a;
  font-weight: bold;

}
.image-container{



}















.description-container{
  overflow-y: auto;
}

.package-name{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  }

.special-price{
  color: #388e3c;
  font-weight: 500;
}
.real-price{
  font-size: large;
  color: gray;
}
.offer-persentage{
  color: #388e3c;
  font-weight: 500;
  font-size: large;

}
li{
  color: black;
  font-weight: bolder;

}
.duration-text{
  font-weight: 500;
  color: #878787;
}
.duration-value{
  color: black;
  font-weight: bolder;
  font-size: large;


}
.small-image{
  border-radius: 10px;
}
.accomodation-container{
  border-radius: 10px;
  border: 2px solid #ffffff; /* White border */
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.4), 0 6px 20px rgba(255, 255, 255, 0.6);

}
.day-details {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 255, 0.4), 0 6px 20px rgba(255, 255, 255, 0.6);
}

