@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-color:#141627; */
    color: black;
    font-family: "Switzer" !important;

    /* background-repeat: no-repeat; */
    /* background-image: url(../src/assets/images/Gradient\ 19.svg);
    background-size: cover;  */
    /* background-position: center;  */
}