.slide-container {
  overflow-x: hidden;
  overflow-y: hidden; /* This hides the vertical scrollbar */
  white-space: nowrap;
  
  animation: scrollLeft 20s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px)); /* Adjust the value according to your card width and gap */
  }
}
